* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background:#12131A;
    --textarea:#1C1F2A;
    --text-primary:#F2F2F7;
    --text-secondary:#B4B7C9;
    --card-purple:#C99DFF;
    --card-orange:#FFB21E;
    --card-coral:#FF8A65;
    --progress-bars:#D19BFF;
    --border-color:#2A2D3A;
}



